.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  background-color: #fefefe;
}

.buttonA {
  width: 10rem;
  color: #000;
  background-color: gold;
}

.fontsizeA {
  color: #fff;
  display: inline;
  font-size: 0.9rem;
}

.widthA {
  width: 6rem;
}

.heightA {
  min-height: 60vh;
}

p {
  color: #000;
}

h4 {
  color: #000;
  display: inline;
}

.margin-right {
  margin-right: 0.5rem;
}

.margin-bottom {
  margin-bottom: 0.5rem;
}
